* {
  border: none;
  border-radius: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 11.25px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(8, 8, 8, 0.9);
}

tooltip {
  background-color: rgba(8, 8, 8, 0.9);
  border: 1px solid #bdbdbd;
}

tooltip label {
  color: #bdbdbd;
}

#workspaces button {
  background-color: #323437;
  color: #bdbdbd;
  padding: 0 2px;
}

#workspaces button.active {
  color: #323437;
  background-color: #b2ceee;
}

#battery,
#clock,
#tray,
#power-profiles-daemon,
#user {
  background-color: #323437;
  padding: 0px 8px;
  margin-left: 5px;
  color: #bdbdbd;
}

#taskbar {
  margin-left: 8px;
}
#taskbar button {
  background-color: #323437;
  padding: 0px 8px;
}
